<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@item.picture_url(:thumbnail), :width => 50, :height => 50) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Posted date:</strong>
  <%= @item.posted_date %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @item.expiry_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<button type="button" class="btn btn-warning btn-lg">
<%= link_to 'Edit', edit_item_path(@item) %>
</button>
<button type="button" class="btn btn-warning">
<%= link_to 'Back', items_path %>
</button>
