<h1>DeliveryNotification#welcome</h1>

<p>
  <%= @greeting %>
  My name is  <%= @person.first_name%><%= @person.last_name%>
  My phone number is <%= @person.phone%>

  Could you help me with
  <%= @person.message%>

  Thank you.
</p>
